.section-features-counter {
  .counter-lists {
    margin-top: rem-calc(-72);
    @include media-breakpoint-up(md) {
      margin-top: rem-calc(-40);
    }

    &__item {
      margin-top: rem-calc(72);
      @include media-breakpoint-up(md) {
        margin-top: rem-calc(40);
      }
      .stats {
        font-size: rem-calc(128);
        line-height: 0.875;
        color: $slate;
        margin-bottom: rem-calc(16);
        word-break: break-all;
        &:not(.is-visible) {
          visibility: hidden;
        }
      }
      .content {
        max-width: rem-cal(286);
        &__title {
          margin-bottom: rem-calc(16);
        }
        &__desc {
          max-width: rem-calc(286);
        }
      }
    }
  }
}
