.section-content-seven {
  .content {
    .content-box {
      max-width: rem-calc(550);
    }
    a {
      font-weight: 500;
      font-size: rem-calc(16);
      line-height: rem-calc(23);
    }
  }
}
